<h1>Welcome to my Petition...</h1>
<p>Here there will be a cool text describing my petition</p>

</div>
<form method="POST">
    {{!-- <input name="first" type="text" placeholder="First name">
    <input name="last" type="text" placeholder="Last name"> --}}
    <input type="hidden" name="signature" id="signature">
    <p>Sign here:</p>
    <canvas width="700px" height="100px" id="canvas"></canvas>
    <button id="button">Submit</button>
</form>