<div class="container">

    {{> nav}}


    <h1>Everyone who blindly signed an no purpouse petition will be listed below:</h1>


    <div>
        {{#supporters}}
        <div>{{first}} {{last}}</div>
        {{/supporters}}
    </div>
</div>